.container{
	background-color:gainsboro;
	border-left: 1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-top:1px solid black;
}
#header{
	background-color: black;
	height: auto;
	margin-bottom: 15px;
}
#header-txt{
	height: 120px;
}
.h1-color{
	color: yellow;
	margin-left: 20px;
	margin-top: 40px;
	font-size: 50px;
	font-family: arial, sans-serif;
}
#p-color{
	text-align: right;
	color: darkgray;
	margin-right: 10px;
	margin-top: 65px;
}
.white{
	color: white
}
#second-child{
	background-image: url(psd2html/e1/assets/big_img.jpg);
	height:560px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 15px;
}
#third-child{
	background-color: white;
	height:325px;
	margin-bottom: 15px;
}
.lorem{
	font-size: 25px;
}
#detailsbutton{
	width: 110px;
	height: 40px;
	color: white;
	background-color:black;
	-moz-border-radius: 20px;
	-webkit-border-radius: 205px;
	text-align: center;
	padding: 5px;
}
#fourth-child{
	background-color: white;
	height:325px;
	margin-bottom: 15px;
}
#fifth-child{
	background-color: white;
	height:325px;
	margin-bottom: 15px;
}
#sixth-child{
	background-color: white;
	height:325px;
	margin-bottom: 30px;
}
#seventh-child{
	background-color: greenyellow;
	height:160px;
	margin-bottom: 30px;
}
.ctr-text{
	text-align: center;
}
.ctr-image{
	display: block;
    margin-left: auto;
    margin-right: auto }
}
